<a href="https://colab.research.google.com/github/tanusreeg/Machine-Learning-Tutorial/blob/main/decisionTree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier

In [3]:
df = pd.read_csv("/content/salaries.csv")

In [4]:
df.head(3)

  company               job     degree  salary_more_then_100k
0  google   sales executive  bachelors                      0
1  google   sales executive    masters                      0
2  google  business manager  bachelors                      1

In [5]:
df.columns

Index(['company', 'job', 'degree', 'salary_more_then_100k'], dtype='object')

In [44]:
y = df['salary_more_then_100k']

In [45]:
x = df[['company', 'job', 'degree']]

In [49]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   company  16 non-null     object
 1   job      16 non-null     object
 2   degree   16 non-null     object
dtypes: object(3)
memory usage: 512.0+ bytes

In [18]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [50]:
le = LabelEncoder()

In [51]:
x['com'] = le.fit_transform(x['company'])

In [52]:
x['jo']=le.fit_transform(x['job'])

In [53]:
x['deg']=le.fit_transform(x['degree'])

In [54]:
x

       company                  job     degree  com  jo  deg
0       google      sales executive  bachelors    2   2    0
1       google      sales executive    masters    2   2    1
2       google     business manager  bachelors    2   0    0
3       google     business manager    masters    2   0    1
4       google  computer programmer  bachelors    2   1    0
5       google  computer programmer    masters    2   1    1
6   abc pharma      sales executive    masters    0   2    1
7   abc pharma  computer programmer  bachelors    0   1    0
8   abc pharma     business manager  bachelors    0   0    0
9   abc pharma     business manager    masters    0   0    1
10    facebook      sales executive  bachelors    1   2    0
11    facebook      sales executive    masters    1   2    1
12    facebook     business manager  bachelors    1   0    0
13    facebook     business manager    masters    1   0    1
14    facebook  computer programmer  bachelors    1   1    0
15    facebook  computer programmer    masters    1   1    1

In [55]:
x.drop(['company','job','degree'],axis=1,inplace=True)

In [56]:
x

    com  jo  deg
0     2   2    0
1     2   2    1
2     2   0    0
3     2   0    1
4     2   1    0
5     2   1    1
6     0   2    1
7     0   1    0
8     0   0    0
9     0   0    1
10    1   2    0
11    1   2    1
12    1   0    0
13    1   0    1
14    1   1    0
15    1   1    1

In [57]:
y

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary_more_then_100k, dtype: int64

In [58]:
model = DecisionTreeClassifier()

In [59]:
model.fit(x,y)

DecisionTreeClassifier()

In [60]:
model.score(x,y)

1.0

In [61]:
model.predict([[2,1,0]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

array([0])