<a href="https://colab.research.google.com/github/tanusreeg/Machine-Learning-Tutorial/blob/main/handling_categorical_values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

categorical variables could be of 2 types:
\
Nominal (male-female) -- value order doesn't matter
\
Ordinal(high-low) -- value order matters

### **One hot encoding**

In [13]:
from sklearn.datasets import load_diabetes

In [2]:
import numpy as np
import pandas as pd

In [21]:
data = pd.read_csv('/content/homeprices.csv')

In [22]:
data

               town  area   price
0   monroe township  2600  550000
1   monroe township  3000  565000
2   monroe township  3200  610000
3   monroe township  3600  680000
4   monroe township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9       robinsville  2600  575000
10      robinsville  2900  600000
11      robinsville  3100  620000
12      robinsville  3600  695000

In [24]:
dum  = pd.get_dummies(data.town)

In [25]:
merged = pd.concat([data,dum],axis=1)

In [28]:
merged.drop('town',axis = 1,inplace=True)

In [33]:
merged

    area   price  monroe township  robinsville  west windsor
0   2600  550000                1            0             0
1   3000  565000                1            0             0
2   3200  610000                1            0             0
3   3600  680000                1            0             0
4   4000  725000                1            0             0
5   2600  585000                0            0             1
6   2800  615000                0            0             1
7   3300  650000                0            0             1
8   3600  710000                0            0             1
9   2600  575000                0            1             0
10  2900  600000                0            1             0
11  3100  620000                0            1             0
12  3600  695000                0            1             0

In [30]:
y = merged['price']

In [34]:
x = merged.drop('price',axis='columns')

In [35]:
x

    area  monroe township  robinsville  west windsor
0   2600                1            0             0
1   3000                1            0             0
2   3200                1            0             0
3   3600                1            0             0
4   4000                1            0             0
5   2600                0            0             1
6   2800                0            0             1
7   3300                0            0             1
8   3600                0            0             1
9   2600                0            1             0
10  2900                0            1             0
11  3100                0            1             0
12  3600                0            1             0

In [36]:
y

0     550000
1     565000
2     610000
3     680000
4     725000
5     585000
6     615000
7     650000
8     710000
9     575000
10    600000
11    620000
12    695000
Name: price, dtype: int64

In [38]:
from sklearn.linear_model import LinearRegression

In [39]:
model = LinearRegression()

In [40]:
model.fit(x,y)

LinearRegression()

In [41]:
model.score(x,y)

0.9573929037221872

In [45]:
model.predict([[2500,1,0,0]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([527019.99569987])

## **Label Encoder**

In [47]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [48]:
data_copy = data

In [50]:
data_copy.town =  le.fit_transform(data_copy.town)

In [51]:
data_copy

    town  area   price
0      0  2600  550000
1      0  3000  565000
2      0  3200  610000
3      0  3600  680000
4      0  4000  725000
5      2  2600  585000
6      2  2800  615000
7      2  3300  650000
8      2  3600  710000
9      1  2600  575000
10     1  2900  600000
11     1  3100  620000
12     1  3600  695000

In [53]:
x = data_copy[['town','area']]

In [57]:
y = data_copy['price']

In [58]:
model.fit(x,y)

LinearRegression()

In [59]:
model.score(x,y)

0.9552018104317441

In [68]:
from sklearn.preprocessing import OneHotEncoder

In [78]:
x = data_copy.values

In [79]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer([('town', OneHotEncoder(), [0])], remainder = 'passthrough')

In [82]:
n= ct.fit_transform(x)

In [83]:
n

array([[1.00e+00, 0.00e+00, 0.00e+00, 2.60e+03, 5.50e+05],
       [1.00e+00, 0.00e+00, 0.00e+00, 3.00e+03, 5.65e+05],
       [1.00e+00, 0.00e+00, 0.00e+00, 3.20e+03, 6.10e+05],
       [1.00e+00, 0.00e+00, 0.00e+00, 3.60e+03, 6.80e+05],
       [1.00e+00, 0.00e+00, 0.00e+00, 4.00e+03, 7.25e+05],
       [0.00e+00, 0.00e+00, 1.00e+00, 2.60e+03, 5.85e+05],
       [0.00e+00, 0.00e+00, 1.00e+00, 2.80e+03, 6.15e+05],
       [0.00e+00, 0.00e+00, 1.00e+00, 3.30e+03, 6.50e+05],
       [0.00e+00, 0.00e+00, 1.00e+00, 3.60e+03, 7.10e+05],
       [0.00e+00, 1.00e+00, 0.00e+00, 2.60e+03, 5.75e+05],
       [0.00e+00, 1.00e+00, 0.00e+00, 2.90e+03, 6.00e+05],
       [0.00e+00, 1.00e+00, 0.00e+00, 3.10e+03, 6.20e+05],
       [0.00e+00, 1.00e+00, 0.00e+00, 3.60e+03, 6.95e+05]])

In [84]:
f = n[:,:4]
y=n[:,4]

In [85]:
model.fit(f,y)

LinearRegression()

In [86]:
model.score(f,y)

0.9573929037221873