<a href="https://colab.research.google.com/github/tanusreeg/Machine-Learning-Tutorial/blob/main/Linear_regression_multivariable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this notebook, we'll predict house price(y) based on 4 inputs: area(x1), bedrooms(x2), age(x3) using linear regression. 

---


y= intercept + coef_1*x1+ coef_2*x2 + coef_3*x3

Import essential libraries

In [1]:
import numpy as np
import pandas as pd

let's create a dataset

In [11]:
data = pd.DataFrame(np.array([[2600,3,20,550000],[3000,4,14,565000],[3200,np.nan,18,610000],[3600,3,30,595000],[4000,5,8,900000]]),columns=('area','bedroom','age','price'))

Data preprocessing

In [12]:
data

     area  bedroom   age     price
0  2600.0      3.0  20.0  550000.0
1  3000.0      4.0  14.0  565000.0
2  3200.0      NaN  18.0  610000.0
3  3600.0      3.0  30.0  595000.0
4  4000.0      5.0   8.0  900000.0

Here, we can see a null value is present in the dataset. We need replace this with some other value.

In [8]:
import math

In [13]:
data.bedroom  = data['bedroom'].fillna(math.floor(data['bedroom'].mean()))

In [14]:
data

     area  bedroom   age     price
0  2600.0      3.0  20.0  550000.0
1  3000.0      4.0  14.0  565000.0
2  3200.0      3.0  18.0  610000.0
3  3600.0      3.0  30.0  595000.0
4  4000.0      5.0   8.0  900000.0

Separate features and result

In [15]:
features = data[['area','bedroom','age']]

In [16]:
features

     area  bedroom   age
0  2600.0      3.0  20.0
1  3000.0      4.0  14.0
2  3200.0      3.0  18.0
3  3600.0      3.0  30.0
4  4000.0      5.0   8.0

In [17]:
y=data['price']

In [18]:
y

0    550000.0
1    565000.0
2    610000.0
3    595000.0
4    900000.0
Name: price, dtype: float64

Model fitting

In [29]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(features,y)

LinearRegression()

In [30]:
model.score(features,y)

0.9070240979586162

In [27]:
model.predict([[3000,4,5]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([707076.53616096])

let's check manually

In [22]:
model.coef_

array([  197.83849918, -6178.62969005, -9303.28983143])

In [23]:
model.intercept_

184792.0065252853

In [31]:
3000*197.83849918 +4* -6178.62969005 +5* -9303.28983143+ 184792.0065252853

707076.5361479353